
    .btn {
    width: 225px ;
    background-color: white;
    margin-left: 20px;

}
.content-me{
    margin-left: 235px;
}
.pic2 {
    margin-left: 40px;
}
    
.head-1 {
    color: #318ce7;
    margin-left: 280px;
    padding: 10px;
}
.textx {
    padding: 10px;

}
.soft-1 {
    padding: 10px;

}
.tx-1 {
    margin-bottom: 10px;
}
.textsp {
    margin-left:  300px;
    font-family: italic;
    font-size: 20px;
    margin-right: 50px;
  
}

.textsp1 {
    margin-left:  300px;
    padding: 20px;
}
.last-1 {
    padding: 10px;
}
* {
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
}
    

.menu {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #dcdcdc;
    transition: all .5s ease;
}
.menu ul a {
    color: blue;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 15px;
    color: #318ce7;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1 );
    border-bottom: 1px solid black;
    transition: 1s;
}
ul li:hover a{
    padding: 5px;
}
.menu ul a i {
    margin-right: 16px;
}
#check {
    display: none;
}
label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
    
}
label #btn{
    left: 40px;
    top: 50px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
}
label #cancel{ 
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: white;
    padding: 4px 9px;
    transition: all .5s ease;

}
#check:checked ~ .menu{
    left: 0;
}
#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;

}
#check:checked ~ label #cancel{   
    left: 195px;
}


